<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Regression" verbose="1" parallel="tests" thread-count="2">
    <test name="Regression" parallel="tests" >
        <classes>
            <class name="Homework"/>
        </classes>
    </test>

    <test name="Regression1" parallel="tests" >
        <classes>
            <class name="Homework1"/>

        </classes>
    </test>
    <test name="Regression2" parallel="tests" >
        <classes>
            <class name="Homework2"/>

        </classes>
    </test>



</suite>